In [1]:
import pandas as pd
import numpy as np
import matplotlib

from calibUtils import *

In [2]:
#df = pd.read_csv('./files/21-04-27_161245_testcalib_SN04.csv' ,delimiter=',')
df = pd.read_csv('./files/27-04-21_SN04calib_test4.csv' ,delimiter=';', header=None)
df = df.rename(columns={0: 'ch', 1:'ADCmin', 2: 'DMMmin', 3:'ADCmax', 4:'DMMmax'})
df.head(10)

    ch ADCmin   DMMmin ADCmax   DMMmax
0  ch0   E6AF  108.752   F6CD  116.328
1  ch1   E6B9  108.755   F6CF  116.332
2  ch2   E6B5  108.740   F6C7  116.314
3  ch3   E6AE  108.742   F6BF  116.316
4  ch4   E6C3  108.743   F6D5  116.320
5  ch5   E6BA  108.742   F6C8  116.310
6  ch6   E6AF  108.735   F6C1  116.309
7  ch7   E6B7  108.741   F6CA  116.315
8  ch8   E6F2  108.745   F631  116.320
9  ch9   E6CF  108.714   F6E5  116.290

In [3]:
df = hex_to_dec(df)
df.head()

    ch  ADCmin   DMMmin  ADCmax   DMMmax
0  ch0   59055  108.752   63181  116.328
1  ch1   59065  108.755   63183  116.332
2  ch2   59061  108.740   63175  116.314
3  ch3   59054  108.742   63167  116.316
4  ch4   59075  108.743   63189  116.320

In [4]:
df = compute_gain(df, 'biasV')
df = compute_gain(df, 'HV')
df.head()

    ch  ADCmin   DMMmin  ADCmax   DMMmax  Gain BiasV   Gain HV
0  ch0   59055  108.752   63181  116.328    0.997426  0.990645
1  ch1   59065  108.755   63183  116.332    0.999495  0.992701
2  ch2   59061  108.740   63175  116.314    1.000071  0.993273
3  ch3   59054  108.742   63167  116.316    1.000314  0.993514
4  ch4   59075  108.743   63189  116.320    1.000467  0.993666

In [5]:
df = compute_offset(df, 'biasV')
df = compute_offset(df, 'HV')
df.head()

,ch,ADCmin,DMMmin,ADCmax,DMMmax,Gain BiasV,Gain HV,offset BiasV,offset HV
0,ch0,59055,108.752,63181,116.328,0.997426,0.990645,-172.923970,-172.923970
1,ch1,59065,108.755,63183,116.332,0.999495,0.992701,-41.914346,-41.914346
2,ch2,59061,108.740,63175,116.314,1.000071,0.993273,-3.742540,-3.742540
3,ch3,59054,108.742,63167,116.316,1.000314,0.993514,2.528387,2.528387
4,ch4,59075,108.743,63189,116.320,1.000467,0.993666,32.014386,32.014386

In [6]:
df = convertADC(df)
df.head()

,ch,ADCmin,DMMmin,ADCmax,DMMmax,Gain BiasV,Gain HV,offset BiasV,offset HV,ADCmin_conv,ADCmax_conv
0,ch0,59055,108.752,63181,116.328,0.997426,0.990645,-172.923970,-172.923970,108.714349,116.309903
1,ch1,59065,108.755,63183,116.332,0.999495,0.992701,-41.914346,-41.914346,108.732758,116.313585
2,ch2,59061,108.740,63175,116.314,1.000071,0.993273,-3.742540,-3.742540,108.725395,116.298857
3,ch3,59054,108.742,63167,116.316,1.000314,0.993514,2.528387,2.528387,108.712509,116.284130
4,ch4,59075,108.743,63189,116.320,1.000467,0.993666,32.014386,32.014386,108.751167,116.324630

In [7]:
df = get_USig_gain(df)
df = get_Sig_offset(df)

df.head()

,ch,ADCmin,DMMmin,ADCmax,DMMmax,Gain BiasV,Gain HV,offset BiasV,offset HV,ADCmin_conv,ADCmax_conv,Gain_Usig HV,Gain_Usig BiasV,Offset_Sig HV,Offset_Sig BiasV
0,ch0,59055,108.752,63181,116.328,0.997426,0.990645,-172.923970,-172.923970,108.714349,116.309903,32462,32684,-172,-172
1,ch1,59065,108.755,63183,116.332,0.999495,0.992701,-41.914346,-41.914346,108.732758,116.313585,32529,32752,-41,-41
2,ch2,59061,108.740,63175,116.314,1.000071,0.993273,-3.742540,-3.742540,108.725395,116.298857,32548,32771,-3,-3
3,ch3,59054,108.742,63167,116.316,1.000314,0.993514,2.528387,2.528387,108.712509,116.284130,32556,32779,3,3
4,ch4,59075,108.743,63189,116.320,1.000467,0.993666,32.014386,32.014386,108.751167,116.324630,32561,32784,33,33

In [8]:
df = convert_to_exadec(df)
df.head()

,ch,ADCmin,DMMmin,ADCmax,DMMmax,Gain BiasV,Gain HV,offset BiasV,offset HV,ADCmin_conv,ADCmax_conv,Gain_Usig HV,Gain_Usig BiasV,Offset_Sig HV,Offset_Sig BiasV
0,ch0,59055,108.752,63181,116.328,0.997426,0.990645,-172.923970,-172.923970,108.714349,116.309903,0x7ece,0x7fac,0xff54,0xff54
1,ch1,59065,108.755,63183,116.332,0.999495,0.992701,-41.914346,-41.914346,108.732758,116.313585,0x7f11,0x7ff0,0xffd7,0xffd7
2,ch2,59061,108.740,63175,116.314,1.000071,0.993273,-3.742540,-3.742540,108.725395,116.298857,0x7f24,0x8003,0xfffd,0xfffd
3,ch3,59054,108.742,63167,116.316,1.000314,0.993514,2.528387,2.528387,108.712509,116.284130,0x7f2c,0x800b,0x3,0x3
4,ch4,59075,108.743,63189,116.320,1.000467,0.993666,32.014386,32.014386,108.751167,116.324630,0x7f31,0x8010,0x21,0x21

In [9]:
df_calib = df[['Gain_Usig HV', 'Gain_Usig BiasV', 'Offset_Sig HV', 'Offset_Sig BiasV'] ].copy()
df_calib.head(11)
df_calib.to_csv('calibDB/calibfactors_SN04_v0.csv')

In [10]:
df_calib.head(12)

   Gain_Usig HV Gain_Usig BiasV Offset_Sig HV Offset_Sig BiasV
0        0x7ece          0x7fac        0xff54           0xff54
1        0x7f11          0x7ff0        0xffd7           0xffd7
2        0x7f24          0x8003        0xfffd           0xfffd
3        0x7f2c          0x800b           0x3              0x3
4        0x7f31          0x8010          0x21             0x21
5        0x7f2a          0x8009           0xb              0xb
6        0x7f24          0x8003        0xfff9           0xfff9
7        0x7f1c          0x7ffb        0xfff0           0xfff0
8        0x8608          0x86f3         0xc14            0xc14
9        0x7f0d          0x7fec        0xfffb           0xfffb
10       0x7f0c          0x7feb           0x0              0x0