In [1]:
import pandas as pd
import numpy as np
import matplotlib

df = pd.read_csv('./files/Calib_SN04_test1.csv' ,delimiter=';',header=None)
df = df.rename(columns={0: 'ch', 1:'ADCmin', 2: 'DMMmin', 3:'ADCmax', 4:'DMMmax'})
df.head(10)

    ch ADCmin   DMMmin ADCmax   DMMmax
0  ch0   E693  108.751   F6B5  116.323
1  ch1   E6BC  108.755   F6CA  116.325
2  ch2   E6B4  108.740   F6C7  116.314
3  ch3   E6AE  108.740   F6BE  116.315
4  ch4   E6C1  108.743   F6A8  116.300
5  ch5   E6B8  108.742   F6B5  116.310
6  ch6   E6AA  108.737   F6BC  116.311
7  ch7   E6B4  108.741   F6C7  116.316
8  ch8   E6FA  108.745   F6AF  116.200
9  ch9   E6CE  108.713   F6C7  116.240

In [2]:
def hex_to_dec(df) :
    df = df.copy()
    df['ADCmin'] = df['ADCmin'].apply(lambda x: int(x,16) )
    df['ADCmax'] = df['ADCmax'].apply(lambda x: int(x,16) )
    return df

In [3]:
df = hex_to_dec(df)
df.head()

    ch  ADCmin   DMMmin  ADCmax   DMMmax
0  ch0   59027  108.751   63157  116.323
1  ch1   59068  108.755   63178  116.325
2  ch2   59060  108.740   63175  116.314
3  ch3   59054  108.740   63166  116.315
4  ch4   59073  108.743   63144  116.300

In [4]:
def compute_gain(df, calib ):
    df = df.copy()
    if (calib == 'HV'):
        a_coeff = 1.8535e-3
    elif (calib == 'biasV'):
         a_coeff = 1.8409e-3
    else:
        a_coeff = 99999. 
        print('Non valid calib type')
        abort()

    df['Gain'] = (df['DMMmax'] - df['DMMmin']) / (df['ADCmax'] - df['ADCmin'] ) * 1/a_coeff

    return df

In [5]:
df_tmp = compute_gain(df, 'biasV')
#df_tmp = compute_gain(df, 'HV')
df_tmp.head()

    ch  ADCmin   DMMmin  ADCmax   DMMmax      Gain
0  ch0   59027  108.751   63157  116.323  0.995934
1  ch1   59068  108.755   63178  116.325  1.000516
2  ch2   59060  108.740   63175  116.314  0.999828
3  ch3   59054  108.740   63166  116.315  1.000689
4  ch4   59073  108.743   63144  116.300  1.008366

In [6]:
def convertADC(df ):
    df.copy()
    df['ADCmin_conv'] = df['ADCmin']* 1.8409e-3
    df['ADCmax_conv'] = df['ADCmax']* 1.8409e-3

    return df

In [8]:
df = convertADC(df)
df.head(10)

    ch  ADCmin   DMMmin  ADCmax   DMMmax  ADCmin_conv  ADCmax_conv
0  ch0   59027  108.751   63157  116.323   108.662804   116.265721
1  ch1   59068  108.755   63178  116.325   108.738281   116.304380
2  ch2   59060  108.740   63175  116.314   108.723554   116.298857
3  ch3   59054  108.740   63166  116.315   108.712509   116.282289
4  ch4   59073  108.743   63144  116.300   108.747486   116.241790
5  ch5   59064  108.742   63157  116.310   108.730918   116.265721
6  ch6   59050  108.737   63164  116.311   108.705145   116.278608
7  ch7   59060  108.741   63175  116.316   108.723554   116.298857
8  ch8   59130  108.745   63151  116.200   108.852417   116.254676
9  ch9   59086  108.713   63175  116.240   108.771417   116.298857