In [3]:
import pandas as pd
import numpy as np
import matplotlib

from calibUtils import *

In [7]:
df = pd.read_csv('./files/21-04-27_161245_testcalib_SN04.csv' ,delimiter=',')
#df = df.rename(columns={0: 'ch', 1:'ADCmin', 2: 'DMMmin', 3:'ADCmax', 4:'DMMmax'})
df.head(10)

,Bus,No,Time (abs),State,ID (hex),Length,Message,Data (hex),ASCII
0,CAN,1,2422.278.193.0,S,602,2,NaN,1E 01,..
1,CAN,2,2422.278.684.0,,682,3,NaN,1E 00 10,...
2,CAN,3,2430.990.272.0,S,602,3,NaN,06 00 00,...
3,CAN,4,2430.990.720.0,,682,2,NaN,06 00,..
4,CAN,5,2436.302.147.0,S,602,4,NaN,03 00 00 00,....
5,CAN,6,2436.302.783.0,,682,3,NaN,03 00 00,...
6,CAN,7,2438.294.025.0,S,602,3,NaN,06 00 00,...
7,CAN,8,2438.294.473.0,,682,2,NaN,06 00,..
8,CAN,9,2445.038.078.0,S,602,4,NaN,03 01 00 00,....
9,CAN,10,2445.039.499.0,,682,3,NaN,03 00 00,...