In [1]:
import pandas as pd
import numpy as np
import matplotlib

In [134]:
df = pd.read_csv('./files/21-05-06_160653_calib_SN04_DACSet000_20x.csv')

#remove some columns not exploitable
df.drop(['Bus','No', 'ID (hex)', 'Message', 'ASCII'], inplace=True, axis=1)
df[25:55]

        Time (abs)  State  Length            Data (hex)
25  4378.663.928.0     S        2                 01 05
26  4378.664.635.0              7  01 E6 AA E6 BB E6 B4
27  4378.665.216.0              7  21 E6 AE E6 C2 E6 B9
28  4378.665.824.0              7  41 E6 AF E6 B7 E7 03
29  4378.666.416.0              7  61 E6 CE E6 D8 E6 DE
30  4378.864.565.0     S        2                 01 00
31  4378.865.294.0              7  01 FD 92 00 00 00 00
32  4378.865.913.0              7  21 93 86 00 00 00 00
33  4379.064.959.0     S        2                 01 04
34  4379.065.711.0              7  01 00 00 00 00 00 00
35  4379.066.341.0              7  21 00 00 00 00 00 00
36  4379.066.971.0              7  61 00 00 00 00 00 00
37  4379.067.607.0              7  41 00 00 00 00 00 00
38  4379.665.783.0     S        2                 01 05
39  4379.666.495.0              7  01 E6 CC E6 BB E6 B4
40  4379.667.081.0              7  21 E6 AE E6 C2 E6 B8
41  4379.667.678.0              7  41 E6 AD E6 B8 E6 FF
42  4379.668.270.0              7  61 E6 CF E6 D8 E6 E1
43  4379.867.090.0     S        2                 01 00
44  4379.867.819.0              7  01 FD 95 00 00 00 00
45  4379.868.444.0              7  21 93 A1 00 00 00 00
46  4380.067.258.0     S        2                 01 04
47  4380.068.010.0              7  01 00 00 00 00 00 00
48  4380.068.640.0              7  21 00 00 00 00 00 00
49  4380.069.270.0              7  61 00 00 00 00 00 00
50  4380.069.906.0              7  41 00 00 00 00 00 00
51  4380.667.602.0     S        2                 01 05
52  4380.668.304.0              7  01 E6 A4 E6 BC E6 B4
53  4380.668.896.0              7  21 E6 AF E6 C2 E6 BB
54  4380.669.493.0              7  41 E6 AD E6 B6 E6 FC

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285 entries, 0 to 284
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Time (abs)  285 non-null    object
 1   State       285 non-null    object
 2   Length      285 non-null    int64
 3   Data (hex)  285 non-null    object
dtypes: int64(1), object(3)
memory usage: 9.0+ KB

In [80]:
df['tmp'] = df['State'].apply(lambda x: 'S' in x )
mssgidx = df[df['tmp'] == True].index.tolist()
df.drop(['tmp'], inplace=True, axis=1)
mssgidx

[0,
 3,
 6,
 11,
 16,
 19,
 21,
 23,
 25,
 30,
 33,
 38,
 43,
 46,
 51,
 56,
 59,
 64,
 69,
 72,
 77,
 82,
 85,
 90,
 95,
 98,
 103,
 108,
 111,
 116,
 121,
 124,
 129,
 134,
 137,
 142,
 147,
 150,
 155,
 160,
 163,
 168,
 173,
 176,
 181,
 186,
 189,
 194,
 199,
 202,
 207,
 212,
 215,
 220,
 225,
 228,
 233,
 238,
 241,
 246,
 251,
 254,
 259,
 264,
 267,
 272,
 277,
 280]

In [81]:
df

         Time (abs)  State  Length            Data (hex)
0    4346.454.319.0     S        2                 01 01
1    4346.455.060.0              7  01 00 00 00 00 00 00
2    4346.455.690.0              7  21 00 00 00 00 00 00
3    4347.246.327.0     S        2                 01 02
4    4347.247.073.0              7  01 80 00 80 00 80 00
..              ...    ...     ...                   ...
280  4398.097.417.0     S        2                 01 04
281  4398.098.169.0              7  01 00 00 00 00 00 00
282  4398.098.799.0              7  21 00 00 00 00 00 00
283  4398.099.429.0              7  61 00 00 00 00 00 00
284  4398.100.065.0              7  41 00 00 00 00 00 00

[285 rows x 4 columns]

In [140]:
df.to_csv('calib_v6_SN04_fromscript_DACset000.txt', sep=',', index=False, header=False, quotechar = ' ')

In [195]:


file1 = open('calib_v6_SN04_fromscript_DACset000.txt', 'r')
#file1 = open('./files/21-05-06_160653_calib_SN04_DACSet000_20x.csv', 'r')
Lines = file1.readlines()
print(Lines[0])
singles = Lines[0].split(',') 
singles[1] = singles[1].strip()
print(singles[1])    
print(singles)    

mydic = {'timestamp':singles[0], 'state': singles[1], 'mssg_length':singles[2], 'mssg':singles[3] }
d_request = {'0101' : 2, '0102': 2, '0106': 4, '0105': 4, '0109': 2, '0100': 2, '0104': 4 }



list(mydic)
if (mydic.get('state')== 'S'):
    message = mydic.get('mssg').strip()
    message = message.replace(' ', '')
    print('this is a request:', mydic.get('state'))
    print('this is the message:-', message, '-')

    for value in d_request.keys():
        #print(value)
        if (message== value):

            print('found request: ', value)
            print('the answer length is: ', d_request.get(value))
 

#for line in Lines:
    #BiasSet = line.find('S')
    #print(BiasSet)

4346.454.319.0,       S   ,2, 01  01

S
['4346.454.319.0', 'S', '2', ' 01  01 \n']
this is a request: S
this is the message:- 0101 -
0101
found request:  0101
the answer length is:  2
0102
0106
0105
0109
0100
0104